<%- include("partials/header") %>

<div id="main-container" class="container">
	<div class="row">
		<div class="col-sm">
			<h1>Edit the item</h1>
			<form action="/todos/<%=todo._id%>?_method=PUT" method="POST">
				<div class="form-group">
					<label for="edit-item"></label>
					<input type="text" value="<%= todo.text %>" name="todo[text]" class="form-control" id="edit.item">
				</div>
					<button class="btn btn-success">Update the item</button>
			</form>
		</div>
	</div>
</div>

<%- include("partials/footer") %>